* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cabang {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg5.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(steak.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid;
  transition: 0.6s;
  margin: 10px;
}

ul li a:hover {
  background-color: #F57E20;
  color: #fff;
}

.logo img {
  float: left;
  width: 180px;
  height: auto;
}

.main {
  max-width: 1200px;
  margin: auto;
}


.title .navbar-logo {
  position: absolute;
  top: 20%;
  left: 29%;
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.title .navbar-logo span {
  color: darkorange;
}

.button {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%-50%);
  font-size: 13;
}

.but2 {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%-50%);
  font-size: 13;
}

.but3 {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%-50%);
  font-size: 13;
  
}

.but4 {
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%-50%);
  font-size: 13;
}

.btn1 {
  position: relative;
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: dashed;
  transition: 0.6s ease;
  border-radius: 10px;
  margin: 10px;
}

.btn1:hover {
  background-color: #F57E20;
  color: #fff;
}

/* LAPTOP */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }


/* MOBILE PHONE */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
